{% layout './layout.liquid' %}
{% block %}

<header class="main-header">
  <h2>Profil</h2>
</header>

<div class="profile">
  <form action="/users/update/image" method="post" enctype="multipart/form-data" id="form-avatar">
    <label for="input-avatar">
      <img src="https://res.cloudinary.com/daihl0cta/image/upload/c_thumb,w_200,g_face/v1652974096/{{ user.avatar }}" alt="" class="profile__pic">
    </label>
    <input type="file" name="avatar" id="input-avatar" class="hidden-input">

  </form>

  <div class="profile__names">
    <p class="profile__username"> {{ user.username }} </p>
    <p class="profile__email"> {{ user.local.email }} </p>

    {% if currentUser._id != user._id %}

    {% if currentUser.following contains user._id %}
    <a href="/users/unfollow/{{ user._id }}" class="btn btn--unfollow profile__follow-btn">Ne plus suivre</a>
    {% else %}
    <a href="/users/follow/{{ user._id }}" class="btn btn--follow profile__follow-btn">Suivre</a>
    {% endif %}

    {% endif %}

  </div>


  <div class="profile__counters">

    <div class="profile__counters__stats">
      <div class="profile__counters__tweets">
        <span>Posts</span>
        <span> {{ tweets.length }} </span>
      </div>

      <div class="profile__counters__following">
        <span>Following</span>
        <span>{{ user.following.length }}</span>
      </div>

      <div class="profile__counters__followers">
        <span>Followers</span>
        <span>{{ user.followers.length }}</span>
      </div>
    </div>

  </div>

</div>

{% include './tweets/tweet-list.liquid' %}

<script src="/js/profile.js"></script>

{% endblock %}