<section class="tweet-list" id="tweet-list-container">

  {% if tweets %}
  {% for tweet in tweets %}
  <div class="tweet">

    <div class="tweet__profile">
      <a href="/users/{{ tweet.author.username }}">
        <img src="https://res.cloudinary.com/daihl0cta/image/upload/c_thumb,w_200,g_face/v1652974096/{{ tweet.author.avatar }}" alt="" class="tweet__profile__pic">
        <span class="tweet__profile__name">{{ tweet.author.username }}</span>
      </a>
    </div>

    <div class="tweet__content">
      <p>{{ tweet.content }}</p>
    </div>

    {% if editable and tweet.author._id == currentUser._id %}

    <div class="tweet-buttons-group">
      <button onclick="window.location.href='/tweets/edit/{{ tweet._id }}'" class="btn tweet__edit-btn" data-tweetid="{{ tweet._id }}"><i class="fa-solid fa-pen-to-square icon"></i></button>
      <button class="btn tweet__delete-btn" data-tweetid="{{ tweet._id }}"><i class="fa-solid fa-trash-can icon"></i></button>
    </div>

    {% endif %}

  </div>

  {% endfor %}
  {% endif %}

</section>




<script src="/js/tweets/tweet.js"></script>